.tabela{
  position: absolute;
  top: 60%;
 left: 43%;
}

.textmeio{

position: absolute;
top: 115%;
left: 42%;
}
img.displayed{
  
  margin-top: 9%;
  margin-left: 43%;
  width: 20%;
  height: 30%;
}
img.logo2{
  margin-top: 1%;
  margin-left: 1%;
  width: 10%;
  height: 10%;
 
}
.botao2{
  position: absolute;
  top: 106%;
  left: 47%;

}
.cervejas{
 
  position: absolute;
  top: 130%;
  left: 33%;
  width: 50%;
  height: 50%;


}



.botao{

  position: absolute;
  top: 185%;
  left: 3%;
}
.cerva{
  position: absolute;
  top: 22%;
  left: 3%;
  width: 20%;
  height: 20%;


}
.pic{
  position: absolute;
  top: 30%;
  left: 3%;
  width: 14,5%;
  height: 19,5%;
  border: solid;


}
.tab{
  position: absolute;
  top: 100%;
  left: 3%;
  width: 100%;
  height: 80%;


}
.texto{
  text-align: right;
  position: absolute;
  top: 26%;
  left: 18%;
  width: 80%;
  height: 80%;


}

button{
  
  border-bottom-color:black;
}
body{
  width: 100%;
}
h4{
  font-size: 17px;
  color: black;
}
h2{
  color: black;
}
h1{
  font-size: 20px;
  color: black;
}
p{
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

p.centro{
  text-align: center;
}

nav{
  margin-bottom: 10px;
}

#tamanho{

  margin-left: 0% ;
  width: 135%;
}

#ajeitada{
  margin-left: 35%;
  margin-right: 40%;
}
#cadastro{

  margin-left: 47%;
}
#imgIBGE{
  margin-left: 20%;
}
#busca{
  margin-left: 30%;
}
#ajeitada2{
  margin-left: 44%;
}
#ajeitada3{
  margin-left: 38%;
}
#bottomBaixo{

  margin-top: 2%;
  margin-left: 83%;
}


#baixoDaNav{
  margin-top: 2% ;
}

#teste{
  margin-top: 2%;
  margin-left: auto;
}

#sobreCerveja{
  margin-top: 2%;
  text-align: justify ;
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#botaoconhecermais{
  margin-left: 78%;
}
#formCad{
  margin-top: 2%;
}